<a href="../products">volver</a>


     <div class="" id="" style="border: solid black 2px">              
        <strong>{{product.title}}</strong>

    <p><strong>Codigo:</strong>{{product.code}}</p>
    <p><strong>Categoria:</strong>{{product.category}}</p>
    <p><strong>Precio:</strong>${{product.price}}</p>
    <p>{{product.description}}</p>
</div>