<div class="" id="navPrototype"></div>
<hr>
<form action="" method="GET">
    <h4>Buscador:</h4>
    <label for="">Nombre:<input type="text" name="query" id=""></label>
    
    <label for="">limite:<input type="number" name="limit" id="" min="1" max="20"></label>
    <div class="">
        <span>Orden: </span>
        <label for="">Descendente<input type="radio" value="desc" name="sort" id=""></label>
        <label for="">Ascendente<input type="radio" value="asc" name="sort" id=""></label>
    </div>    
    <input type="submit" name="" id="" value="Buscar">
</form>
<div class="" id="pages">

    {{totalDocs}} documentos encontrados <br>

    
    <div id="links"  style="display:flex; gap: 10px; margin: 10px;"
        {{#if hasTitle}}
            data-title="{{title}}"
        {{/if }}
        {{#if hasSort}}
            data-sort="{{sort}}"
        {{/if }}

        data-title={{totalPages}} 
        data-total="{{totalPages}}" 
        data-actual="{{page}}"
        data-limit="{{limit}}"
        {{#if hasPrevPage}}
            data-prev="{{prevPage}}"
        {{/if }}
        {{#if hasNextPage}}
            data-next="{{nextPage}}"
        {{/if }}
        >
        
        
    </div>
<hr>
</div>
<div class="" id="mainBox" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
{{!--     {{#each docs}}
        {{this}}
    {{/each}} --}}
    {{#each docs}}
            <div class="" id="" style="border: solid black 2px">
                <a href="http://localhost:8080/products/{{this._id}}">
                    <strong>{{this.title}}</strong>
                </a>

                <p><strong>Codigo:</strong>{{this.code}}</p>
                <p><strong>Categoria:</strong>{{this.category}}</p>
                <p><strong>Precio:</strong>${{this.price}}</p>
                <p>{{this.description}}</p>
                <div class="" id="">
                    <form  method="post" onsubmit="addItem(event)">
                        <input type="hidden" name="" value="{{this._id}}">
                        <input type="submit" value="Agregar a Carrito">
                    </form>
                </div>
            </div>

    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/statics/js/productPaginate.client.js"></script>
